.footer {
    background-color: var(--black-color);
    flex-direction: column;
    gap: 20px;
    padding-top: 3%;
}


.footer_logo a{
    font-size: 2.5rem;
    font-family: var(--kaushan-font);
    font-weight: 600;
    color: var(--white-color);
}

.footer_logo a span{
    color: var(--primary-color);
    font-family: var(--kaushan-font);
}


.footer_menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_menu li a{
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 500;
    font-family: var(--Anton-font);
    transition: var(--transition);
}

.footer_menu li:hover a{
    color: var(--primary-color);
    cursor: pointer;
}


.footer_inputs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 50px;
    padding-left: 2%;
    position: relative;
    border-radius: 5px;
}

.footer_inputs input{
    width: 90%;
    height: 100%;
    background-color: #151515;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: var(--white-color);
    &::placeholder{
        color: var(--light-text);
        padding-left: 2%;
        font-family: var(--Anton-font);
    }
}

.footer_inputs i{
    position: absolute;
    top: 30%;
    right: 3%;
    font-size: 1.5rem;
    color: var(--primary-color);
}



.footer_social{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_social i{
    font-size:   1.5rem;
    font-weight: 550;
    color: var(--extra-light-text);
}

.footer_social i:hover{
    color: var(--primary-color);
    cursor: pointer;
}













@media (max-width: 1150px) {
    .footer_inputs i{
        padding-right: 2%;
        gap: 10px;
    }
}

@media (max-width: 550px) {
    .footer_inputs input{
        width: 90%;
        height: 100%;
        background-color: #151515;
        border: none;
        outline: none;
        font-size: 1rem;
        color: var(--white-color);
        &::placeholder{
            color: var(--light-text);
            padding-left: 2%;
            font-family: var(--Anton-font);
            font-size: 0.8rem;
        }
    }

}


@media (max-width: 500px) {
    .footer_menu li a{
        font-size: 1rem;
    }

}


@media (max-width: 400px) {
    .footer_menu li a{
        font-size: 0.8rem;
    }
    .footer_inputs input{
        padding-left: 2%;
        font-size: 0.8rem;
        color: var(--white-color);
        &::placeholder{
            font-size: 0.7rem;
        }
    }


}